In [452]:
import pandas as pd
import numpy as np

In [453]:
import yfinance as yf
import datetime as dt

In [454]:
stock = ['INFY.NS']
start = dt.datetime(2020,1,1)
end = dt.datetime(2025,1,1)

In [455]:
all_data = []

In [456]:
def get_stock(stock,start,end):
    
    for stock_id in stock:
        
        df = yf.download(stock_id, start=start, end=end)
        df = df[['Open', 'High', 'Low', 'Close', 'Volume']]  
        df['Date'] = df.index
        df['stock_id'] = stock_id
        df.reset_index(drop=True, inplace=True)
        all_data.append(df)
        
    if all_data:
            return pd.concat(all_data, ignore_index=True)
    return pd.DataFrame()

In [457]:
df = get_stock(stock,start,end)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_27360\4235868153.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(stock_id, start=start, end=end)
[*********************100%***********************]  1 of 1 completed

In [458]:
df.reset_index()
df.columns = df.columns.droplevel(1)

In [459]:
df.head()

Price,Open,High,Low,Close,Volume,Date,stock_id
0,650.393981,654.818430,648.225991,652.031006,2112415,2020-01-01,INFY.NS
1,653.845088,655.526346,646.765970,650.128540,5658200,2020-01-02,INFY.NS
2,649.420662,661.897587,649.420662,660.127808,7882938,2020-01-03,INFY.NS
3,660.216170,667.029832,651.721251,653.800720,6519403,2020-01-06,INFY.NS
4,653.048694,657.119165,641.633593,644.111328,7899363,2020-01-07,INFY.NS

In [460]:
from finta import TA

In [461]:
df['sma_20'] = TA.SMA(df, 20)
df['ema_10'] = TA.EMA(df, 10)
df['ema_20'] = TA.EMA(df, 20)
df['rsi'] = TA.RSI(df)
df['macd'] = TA.MACD(df)['MACD']
df['bb_upper'] = TA.BBANDS(df)['BB_UPPER']
df['bb_lower'] = TA.BBANDS(df)['BB_LOWER']

In [462]:
df.isna().sum()

Price
Open         0
High         0
Low          0
Close        0
Volume       0
Date         0
stock_id     0
sma_20      19
ema_10       0
ema_20       0
rsi          1
macd         0
bb_upper    19
bb_lower    19
dtype: int64

In [463]:
df.dropna(inplace= True)

In [464]:
df.isna().sum()

Price
Open        0
High        0
Low         0
Close       0
Volume      0
Date        0
stock_id    0
sma_20      0
ema_10      0
ema_20      0
rsi         0
macd        0
bb_upper    0
bb_lower    0
dtype: int64